<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>My Albums</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Artist</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <thead>
        <% profile.albums.forEach(album => { %>
          <tr>
            <td><%= album.name %></td>
            <td><%= album.artist %></td>
            <td><a href="/albums/<%= album._id %>">Details</a></td>
          </tr>
        <% }) %>
      </thead>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>