<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/albums/forms.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="edit-reviews-form" 
    action="/reviews/<%= review._id %>?_method=PUT" method="POST"
    >
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="<%= review.rating %>"><%= review.rating %></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label for="review-input">Review:</label>
    <input type="text" name="content" id="review-input" value="<%= review.content %>" autocomplete="off">
    <label for="favorite-song-input">Favorite Song:</label>
    <input type="text" name="favoriteSong" id="favorite-song-input" value="<%= review.favoriteSong %>" autocomplete="off">
    <button type="submit">Save Review</button>
  </form>
  <form 
    id="delete-review-form"
    action="/reviews/<%= review._id %>?_method=DELETE"
    method="POST"
    >
    <button type="submit">Delete Review</button>
  </form>
</main>

<%- include('../partials/footer') %>